<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="result" method="post">

<span th:text="${Question.question}"></span>

<u1>
    <li th:each="choice : ${choices}">

    <input type="radio" name="1" th:value="${choice.choice}" th:text="${choice.descr}"/>
    </li>
</u1>

<input type="submit" name="previous" value="Previous"/><input type="submit" name="toDB" value="submit"/><input type="submit" name="next" value="Next"/>
<input type="hidden" name="qID" value="${qID}"/>
    <input type="hidden" name="questionID" value="${Question.questionID}"/>
</form>

</body>
</html>